body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #e5e5be; /* Gives an off-white/paper-like background */
}

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fcf8e8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70vw; /* Reduced width to make it more like a diary */
  min-height: 90vh; /* Minimum height for the diary look */
  display: flex;
  flex-direction: column; /* Aligns all elements in a column */
  align-items: start; /* Aligns elements to the left */
}

h1,
h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding-left: 20px; /* Padding so bullet points don't stick to the left */
}

img {
  width: 120px;
  align-self: center; /* Positions image in the center */
}

a {
  color: #333; /* Change link color to match other text */
}

button {
  margin-top: 10px;
  padding: 5px 10px; /* Additional padding for better appearance */
  background-color: #c5c3c6; /* Neutral button color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a4a2a5; /* Darker shade on hover */
}

/* Responsive Design Adaption */
@media only screen and (max-width: 600px) {
  .container {
    width: 80vw; /* Adjust width for smaller screens */
  }

  img {
    width: 80%;
  }
}
